
@{
    ViewData["Title"] = "Index";
}

<h1>Index-Members</h1>
<br />
<p>This is Member Page</p>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
