@{
    ViewData["Title"] = "Faq";
}

<div class="text-left">
    <h1 class="display-4">FAQ Page</h1>
    <p>This is Faq Page <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
